

html {
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
}

h1 {
    font-family: Lato, sans-serif;
    font-size: 50px;
}

h2 {
    font-family: Lato, sans-serif;
    font-size: 25px;
}

h3 {
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
}

text {
    font-family: Lato, sans-serif;
    font-size: 18px;
}

svg {
    display: block;
    margin: 0;
    width: 100%;
}

.label {
    font-family: Lato, sans-serif;
    font-weight: normal;
    stroke-width: 0;
}

.opacity-screen-2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


/* Title Card */
.title {
    height: 100vh;
    min-height: 200px;
    padding: 0;
    background-image: url("drought.jpeg");
    background-size: cover;
    opacity: 1;
    position: relative;
    z-index: -2;
    width: 100%;
}

.title-div {
    position: absolute;
    bottom: 5vh;
    left: 50px;
    color: white;
    width: 75%;
    max-width: 1000px;
}

/* Mini Title Card */

.mini-title {
    height: 67vh;
    min-height: 300px;
    background-size: cover;
    opacity: 1;
    position: relative;
    z-index: -2;
}

.mini-title-div {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;
    height: 33vh;
    color: white;
    text-align: center;
}

.mini-title-div h1 {
    font-size: 40px;
}

.mini-title-div p {
    text-align: center;
}

/* Main Article */
.article-main {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 50%;
    margin: auto;
}




/* Visualizations */
.viz {
    display: block;
}

/* Montague title */
#montague-title {
/*    background-image: url("montague.jpeg");*/
    background-position: bottom;
}

#predicting-res-levels-title {
/*    background-image: url("predictingResLevels.jpeg");*/
    background-position: top;
}

@media screen and (max-width: 800px) {
    .article-main {
        width: 65%;
    }
}

@media screen and (max-width: 500px) {
    .article-main {
        width: 80%;
    }
    
    h1, .mini-title-div h1 {
        font-size: 30px;
    }
    
    p {
        font-size: 14px;
    }
}
