.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#seasonality-scrolly {
    padding-bottom: 60vh;
    position: relative;
}

.stat-info {
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.absolute-160 {
    position: absolute;
    top: 100vh;
}

#seasonality-graphic {
    background-color: white;
    padding-bottom: 20vh;
    height: 40vh;
    text-align: center;
    margin-left: 0;
}

#buch-1 {
    padding-top: 40vh;
}

#buch-wrapup {
    margin-top: -15vh;
    position: relative;
    z-index: 10;
}

#line-graph {
    height: 100%;
    position: relative;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
}