.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#seasonality-scrolly {
    padding-bottom: 60vh;
    position: relative;
}

.stat-info {
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.absolute-160 {
    position: absolute;
    top: 100vh;
}

#seasonality-graphic {
    background-color: white;
    text-align: center;
    margin-left: 0;
}

#buch-1 {
    padding-top: 40vh;
}

#buch-wrapup {
    margin-top: -15vh;
    position: relative;
    z-index: 10;
}

@media (min-aspect-ratio: 1/1) {
    #buch-wrapup {
        margin-top: -5vh;
    }
}

@media (min-aspect-ratio: 2/1) {
    #buch-wrapup {
        margin-top: 10vh;
    }
}

@media (min-aspect-ratio: 5/2) {
    #buch-wrapup {
        margin-top: 20vh;
    }
}

@media (min-aspect-ratio: 3/1) {
    #buch-wrapup {
        margin-top: 50vh;
    }
}

#line-graph {
    width: 100%;
    position: relative;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

#buchanan-wrapper {
    height: 40vh;
    padding-bottom: 20vh;
    width: 100%;
}