#connectivity-viz {
    position: relative;
    margin: auto;
    width: 100%;
}

.connected-res-container {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}

#connectivity-overlay {
    width: 100%;
    height: 100%;
}

#connectivity-div {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
}

@media (min-aspect-ratio: 1/1) {
    #connectivity-viz {
        width: 80%;
    }
}

@media (min-aspect-ratio: 2/1) {
    #connectivity-viz {
        width: 65%;
    }
}
@media (min-aspect-ratio: 3/1) {
    #connectivity-viz {
        width: 50%;
    }
}