#reservoirs-matter-viz {
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    position: relative;
}

#reservoirs-matter-container {
    width: 100%;
}

.tooltip {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    margin: 0px;
    opacity: 1;
}

.tooltip p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.tooltip-invisible {
    opacity: 0;
}

.chart circle, .chart path {
    transition: fill .5s, stroke .5s;
}

.chartSVG * {
    pointer-events: none;
}

.chartSVG {
    width: 90px;
    height: 90px;
}

.res {
    transition: fill .5s, stroke .5s;
}

.res-name {
    font-family: Nova Mono;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#vizContainer {
    width: 100%;
    margin: auto;
}

.chart {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

#start-label {
    position: absolute;
}

#end-label {
    position: absolute;
    right: 23px;
}

#slider {
    position: relative;
    width: 100%;
}

#date {
    margin-top: 18px;
}

#click-here-div {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: opacity 0.5s;
    transform: translate(-50%, -100%);
}

#click-here-div img {
    height: 60px;
}

#click-here-div p {
    margin-bottom: 0;
}