.slide-text {
    position: absolute;
    bottom: 0;
    transition: opacity 0.2s;
}

#slide1-text {
    position: relative;
    height: 200px;
    z-index: 1;
}

.slide1-info {
    margin-top: 10vh;
    margin-bottom: 25vh;
}

#slide1-graphic {
    z-index: 2;
    background-color: white;
    width: 700px;
    height: 20vh;
    min-height: 350px;
    padding-bottom: 20vh;
}

#montague-viz {
    height: 300vh;
    opacity: 1;
    position: relative;
}

.fixed {
    position: fixed;
    top: 40vh;
}

.absolute {
    position: absolute;
    top: 40vh;
}

.absolute-bottom {
    position: absolute;
    top: 240vh;
}

.relative-600 {
    position: relative;
    top: 600vh;
}

.relative-200 {
    position: relative;
    top: 200vh;
}

.relative-400 {
    position: relative;
    top: 400vh;
}

.relative-500 {
    position: relative;
    top: 500vh;
}

.relative {
    position: relative;
    top: 0;
}