.slide-text {
    position: absolute;
    bottom: 0;
    transition: opacity 0.2s;
}

#slide1-text {
    position: relative;
    height: 200px;
    z-index: 1;
}

.slide1-info {
    margin-top: 10vh;
    margin-bottom: 40vh;
    text-align: center;
}

#slide1-graphic {
    z-index: 2;
    background-color: #F5F5F5;
}

#montague-viz {
    height: 300vh;
    opacity: 1;
    position: relative;
}

#montague-inner {
    position: relative;
    width: 50%;
    margin: auto;
    height: 100%;
}

@media screen and (max-width: 500px) {
    #montague-inner {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    #montague-inner {
        width: 65%;
    }
}


.wrapup-div {
    background-color: #FFF;
    width: 100%;
    padding-left: 50%;
    margin-left: -50%;
    padding-top: 50px;
    padding-right: 50%;
    z-index: 10;
    position: relative;
}

.fixed {
    position: fixed;
    top: 40vh;
    width: 50%;
    left: 25%;
}

@media screen and (max-width: 800px) {
    .fixed {
        width: 65%;
        left: 17.5%;
    }
}

@media screen and (max-width: 500px) {
    .fixed {
        width: 80%;
        left: 10%;
    }
}

.absolute {
    width: 50%;
    margin-left: 25%;
    position: absolute;
    top: 40vh;
}

.absolute-bottom {
    width: 50%;
    margin-left: 25%;
    position: absolute;
    bottom: 0px;
}

@media screen and (max-width: 800px) {
    .absolute, .absolute-bottom {
        width: 65%;
        margin-left: 17.5%;
    }
}

@media screen and (max-width: 500px) {
    .absolute, .absolute-bottom {
        width: 80%;
        margin-left: 10%;
    }
}

.relative-600 {
    position: relative;
    top: 600vh;
}

.relative-200 {
    position: relative;
    top: 200vh;
}

.relative-400 {
    position: relative;
    top: 400vh;
}

.relative-500 {
    position: relative;
    top: 500vh;
}

.relative {
    position: relative;
    top: 0;
}

#montague-div {
    position: relative;
    padding-bottom: 60vh;
    
}

.scrolly-div {
    background-color: #F5F5F5;
    width: 200%;
    margin-left: -50%;
}

@media screen and (max-width: 800px) {
    .scrolly-div {
        width: 154%;
        margin-left: -27%;
    }
}

@media screen and (max-width: 500px) {
    .scrolly-div {
        width: 125%;
        margin-left: -12.5%;
    }
}

#slide-1-6 {
    margin-bottom: 0;
}

#intro-paragraph {
    padding-bottom: 50px;
}

.first-montague-paragraph {
    padding-top: 40vh;
    margin-top: 0;
}

#montague-wrapup {
    margin-top: -15vh;
    padding-top: 15vh;
    position: relative;
    z-index: 10;
}

@media (min-aspect-ratio: 3/2) {
    #montague-wrapup {
        margin-top: 0;
    }
}

@media (min-aspect-ratio: 5/2) {
    #montague-wrapup {
        margin-top: 20vh;
    }
}

@media (min-aspect-ratio: 3/1) {
    #montague-wrapup {
        margin-top: 40vh;
    }
}

#buckets-wrapper {
    width: 100%;
    height: 40vh;
    padding-bottom: 20vh;
}

#buckets {
    width: 100%;
    position: relative;
    width: auto;
}

.bucket {
    transition: fill 0.5s;
}