#reservoir-filling-graphic {
    text-align: center;
    padding-top: 175px;
    padding-bottom: 100px;
    width: 500px;
    margin: auto;
    position: relative;
}

.overlay-svg {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 150%;
}

#res-fill-overlay {
    top: 50px;
}

.connect-line {
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 5 5;
}