#reservoir-filling-graphic {
    text-align: center;
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 100px;
    margin-top: 50px;
}

@media (min-aspect-ratio: 1/1) {
    #reservoir-filling-graphic {
        width: 80%;
    }
}

@media (min-aspect-ratio: 2/1) {
    #reservoir-filling-graphic {
        width: 65%;
    }
}
@media (min-aspect-ratio: 3/1) {
    #reservoir-filling-graphic {
        width: 50%;
    }
}

#reservoir-filling-div {
    padding-top: 205px;
}

.overlay-svg {
    top: -50px;
    left: 0;
    width: 100%;
    height: auto;
}

#res-fill-overlay {
    top: 50px;
}

.connect-line {
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 5 5;
}

#reservoir-filling {
    width: 100px;
    height: 100px;
}