#statistical-scrolly {
    position: relative;
    padding-bottom: 60vh;
}

.stat-info {
    margin-top: 10vh;
    margin-bottom: 20vh;
}

#connected-res-viz {
    background: white;
    z-index: 2;
    background-color: #F5F5F5;
}

#stat-1 {
    padding-top: 40vh;
}

#wrapup {
    position: relative;
    margin-top: -15vh;
    padding-top: 15vh;
    z-index: 10;
}

@media (min-aspect-ratio: 1/1) {
    #wrapup {
        margin-top: 0;
    }
}

@media (min-aspect-ratio: 2/1) {
    #wrapup {
        margin-top: 20vh;
    }
}

@media (min-aspect-ratio: 5/2) {
    #wrapup {
        margin-top: 30vh;
    }
}

@media (min-aspect-ratio: 3/1) {
    #wrapup {
        margin-top: 60vh;
    }
}

#statistical-inner {
    position: relative;
    width: 50%;
    margin: auto;
    height: 100%;
}

@media screen and (max-width: 500px) {
    #statistical-inner {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    #statistical-inner {
        width: 65%;
    }
}

#ca-map {
    width: 100%;
    position: relative;
    width: auto;
}

#stat-wrapper {
    margin: auto;
    width: 100%;
    height: 40vh;
    padding-bottom: 20vh;
}

@media (min-aspect-ratio: 1/1) {
    #stat-wrapper {
        width: 80%;
    }
}

@media (min-aspect-ratio: 2/1) {
    #stat-wrapper {
        width: 65%;
    }
}
@media (min-aspect-ratio: 3/1) {
    #stat-wrapper {
        width: 50%;
    }
}