#statistical-scrolly {
    position: relative;
    padding-bottom: 60vh;
}

.stat-info {
    margin-top: 10vh;
    margin-bottom: 20vh;
}

#connected-res-viz {
    background: white;
    height: 40vh;
    padding-bottom: 20vh;
}

#stat-1 {
    padding-top: 40vh;
}

#wrapup {
    position: relative;
    margin-top: -20vh;
    z-index: 10;
}

#ca-map {
    height: 40vh;
}